// One-variable override to give the content area depth (Bootstrap $gray-100)
$body-bg: #f8f9fa;

@import "bootstrap/scss/bootstrap";
@import "_dash.scss";

$sidebar-width: 270px;

.main-container {

    >.container:last-child,
    >.container-fluid:last-child {
        padding-bottom: $spacer * 4;
    }

    >.container {
        padding-bottom: $spacer * 3;
    }
}

@include media-breakpoint-up(lg) {
    .layout-nav-side {
        display: flex;

        .main-container {
            overflow: hidden;
            flex: 1;
            max-width: calc(100vw - $sidebar-width);

            >.container {
                padding-left: $spacer * 2;
                padding-right: $spacer * 2;
            }
        }

        .content-container {
            display: flex;
            height: calc(100vh - 3.5625rem);
        }
    }

    .layout-sidebar {
        .main-container {
            display: flex;
            flex-direction: row-reverse;
            height: calc(100vh - 59px);
            overflow: hidden;

            .content-container {
                height: 100%;
                overflow-y: auto;
                -ms-overflow-style: none;
                flex: 1;

                &::-webkit-scrollbar {
                    display: none;
                }

                >.container:last-child {
                    padding-bottom: $spacer * 3;
                }
            }
        }
    }
}

.btn {
    svg {
        width: 1.2rem;
        height: 1.2rem;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.text-sm {
    font-size: 0.8125rem;
}

.text-xs {
    font-size: 0.75rem;
}

.fs-12 {
    font-size: 0.75rem;
}

.fs-14 {
    font-size: 0.875rem;
}

.fs-16 {
    font-size: 1rem;
}

.fs-18 {
    font-size: 1.125rem;
}

.fs-20 {
    font-size: 1.25rem;
}

#main-content {
    padding-left: 1rem;
    padding-right: 1rem;
}

@include media-breakpoint-up(lg) {
    #main-content {
        padding-left: 2.2rem;
        padding-right: 2.2rem;
    }
}